<section  id="mainHero" class="hero my-6">
  <div class="hero-body">
    <p id="blogTitle"class="title is-2 has-text-centered">
      Spill The Wine
    </p>
    <p id="welcome" class="title is-4 has-text-centered"> Welcome {{posts.[0].user.username}} </p>
    <p id="blogSub"class="subtitle has-text-centered">
        Read, Create and Edit your Posts
          
    </p>
  </div>
</section>

<script src="/js/welcome.js"></script>