<!---user posts will render---->
<article class="message">
  {{#each postData}}
  <div class="message-header">
    <p>{{title}}</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
  by {{user.username}}
  </div>
  {{/each}}
</article>
</div>