

<!---Where posts will render---->
<div class="container">
   {{#each postData}}
<article class="message">
  <div class="message-header">
    <p class="has-text-centered">{{title}}</p>
    <a href="/post/{{id}}">
   <button class="button is-dark postBtn" value="{{id}}">Read</button>
  </a>
  </div>
  <div class="message-body">
  by {{user.username}}
 
  </div>

</article>
 {{/each}}
</div>
 <script src="/js/postJs.js"></script>