

<!---Where posts will render---->
<div class="container">
   {{#each postData}}
<article class="message">
  <div class="message-header">
    <p>{{title}}</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
  by {{user.username}}
  </div>
  <a href="/api/post/{{id}}">
  <button class="button is-dark postBtn" value="{{id}}">Read</button>
  </a>
</article>
 {{/each}}
</div>
 <script src="/js/postJs.js"></script>