<!---Single Post --->

<div class="container">
<article class="message">
  <div class="message-header">
    <p>{{post.title}}</p>
    <textarea class="textarea" rows="2">{{post.title}}</textarea>
    <button class="delete delPost" data-id="{{post.id}}" aria-label="delete"></button>
  </div>
  <div class="message-body">
    <textarea class="textarea">{{post.body}}</textarea>
  </div> 
</article>

</div>


<script src="/js/delDashPost.js"></script>