body{
    background-color: whitesmoke;
}


/***navbat***/
.navbar{
    height:100px;
    background-color: whitesmoke;
}

#mainHero{
    background-color:#641220;
}
#blogTitle,
#blogSub{
    color:whitesmoke;
}

#readLink{
    position: relative;
    margin-left: 65vw;
    margin-bottom: 5vh;
    color:#600047;
}
#log{
    background-color: #157a6e;
    color:whitesmoke;
}
