body{
    background-color: whitesmoke;
}

/***navbat***/
.navbar{
    height:13vh;
    background-color: whitesmoke;
}

#mainHero{
    background-color:#641220;
}
#blogTitle,
#blogSub,
#welcome,
#postTitle,
#postSub{
    color:whitesmoke;
}

#readLink{
    position: relative;
    margin-left: 65vw;
    margin-bottom: 5vh;
    color:#600047;
}
.log{
    background-color: #E58E02;
    color:whitesmoke;
}

.footer{
    background-color:#641220;
    margin-top:4vh;
}
.item{
    color:whitesmoke;
}

.icons{
    margin-left: 1vw;
}

#new
{
    margin-left: -5vw;
    background-color: #002e4f;
    color:whitesmoke;
}
#newPost{
    margin-left:-8vw;
}
#savePost,
#opinionBtn
{
    background-color:#E58E02 ;
    color:whitesmoke;
}

.modal-card-head,
.modal-card-foot{
    
    background-color: #002e4f;
}  
.modal-card-title{
    color:whitesmoke;
}
.modal-card-body{
    background-color: whitesmoke;
}
.loginForm,
#signUpForm
{
    height:30vh;
}
.card-footer-item
{
    color:#E58E02;
}
#opinionBox{
    background-color: #002e4f;
    transition: visibility 0s, opacity 0.5s linear;
   
}
#theComment{
    background-color: whitesmoke;
}
#opinionBtn{
    margin-top: 2vh;
    margin-bottom:2vh;
}
.visible{
   visibility: visible;
   opacity: 1;
}
.invisible{
    visibility: hidden;
    opacity: 0;
}
#hideBox{
background-color: #E58E02;
position: relative;
margin-left:36vw;
margin-bottom: 2vh;
    
}
#commentIcon{
    margin-left: 3vw;
    color: #002e4f;
}


#singleHero{
    background-color:#E58E02
}
